<div> <h1><%= "#{@item.name}"%></h1>

<div>
    <%= link_to "Create Order", new_item_order_path(@item), class: "button"%>
</div>
 
<table id="orders">
  <tr>
    <th>S.no</th>
    <th>Date</th>
    <th>Rate</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  <% @orders.each_with_index do |order, index|%>
    <tr>
        <td><%= index + 1%></td>
        <td><%= order.date%></td>
        <td><%= @item.rate%></td>
        <td><%= order.quantity%></td>
        <td><%=order.total_price%></td>
      </tr>

  <%end%>
 
</table>
  
    

</div>

<%= link_to "<- Back to main page", items_path, class: "back-arrow" %>